.status {
    background-color: black;
    color: white;
    max-width: max-content;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 5%;
    top: 2%;
    font-weight: bolder;
}

.cartoon_card {
    border: 2px solid red;
    border-radius: 10px;
    text-decoration: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* color: black; */
}

img {
    border-radius: 10px 10px 0px 0px;
    object-fit: fill;
}

.heart {
    /* position: absolute; */
    left: 5%;
    /* color: black; */
    /* border: 1px solid white; */
    top: 2%;
}